body {
    background-color: #1E90FF;
    color: #FFFFFF;
}

img { height: 70%; }

img { width: 40%; }

h1 {
font-family: 'Julius Sans One', sans-serif;
}

h2 { 
font-family: 'Julius Sans One', sans-serif;
}
